.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    position: fixed;
    overflow: auto;
    background-color: #000000;

}

.navbar a, .dropbtn {
     display: inline-block;
     padding: 8px 16px;
     text-decoration: none;
     color: white;
}

/* Link color on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
     background-color: #ffc629;
     color: black;
}

/* Link color while active */
.navbar .active {
     background-color: #ffc629;
     color: black;
}

li.dropdown {
     display: inline-block;
}

.dropdown-content {
     display: none;
     position: absolute;
     background-color:#000000;
     min-width: 160px;
     z-index: 1;
}

.dropdown-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
}

.dropdown-content a:hover {
     background-color: #ffc629;
}

.dropdown:hover .dropdown-content {
     display: block;
   }

.content {
     margin-left: 200px;
     padding-left: 30px;
}

body {
     font-family:Georgia, 'Times New Roman', Times, serif;
}
